<ion-view title="Contacts">

<ion-nav-buttons side="right">
  <a class="button button-clear" ng-click="addRecord()"> Add </a>
</ion-nav-buttons>

<ion-content>

<ion-list>
    <a class="item item-thumbnail-left">
      <img ng-src="img/icons/911.png">
      <div>
        <h2 class="dark title">911</h2>
                <p>Num: 911</p>
      </div>
    </a>

        <a class="item item-thumbnail-left">
            <img ng-src="img/icons/lynx.jpeg">
            <div>
                <h2 class="dark title">Max Lynx</h2>
                 <p>Num: 123-456-789</p>
            </div>
        </a>

        <a class="item item-thumbnail-left">
            <img ng-src="img/icons/gover.jpeg">
            <div>
                <h2 class="dark title">Perry Governor</h2>
                <p>Num: 987-654-321</p>

            </div>
        </a>

  </ion-list>
</ion-content>
</ion-view>
